.form {
	width: 50%;
}

.form1 {
}
 
input {
	color: #0e3e47;
	font-size: 14px;
	border-bottom: 2px solid #517278;
	padding: 5px 0 5px 0;
}

.fname {
	width: 30%;
	margin-right: 5%;
	float: left;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}



.lname {
	width: 30%;
	margin-right: 5%;
	float: left;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}

.dob {
	width: 30%;
	float: left;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 5px;
}

@-moz-document url-prefix() {
    .dob {
        margin-top: 9px;
    }
}       

.first {
	width: 30%;
	margin-right: 5%;
	float: left;
}

.last {
	width: 30%;
	margin-right: 5%;
	float: left;
}

.bday {
	width: 30%;
	float: left;
}

label {
	color: #517278;
	font-family: sans-serif;
}

.email {
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}


.password {
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}


.submit {
	width: 100%;
	border: none;
	margin-top: 10px;
	padding: 15px 0 15px 0;
	background-color: #08272d;
	color: #fff;
	font-size: 18px;
}

input:hover {
	border: 2px solid #517278;
}

.fname:hover {
	width: 28%;

}

.lname:hover {
	width: 28%;
}

.dob:hover {
	width: 28%;
}

.submit:hover {
	border: none;
	padding: 18px 0;
}

