body {
	background-color: #F3F3F3;
	font-family: Roboto;
}

.container {
	width: 80%;
	margin: auto;
}

h1 {
	font-weight: 700;
	text-align: center;
	color: #2D3242;
}

.col-1 {
	width: 47.5%;
	margin-right: 5%;
	padding-top: 50px;
	padding-bottom: 75px;
	background-color: #fff;
	float: left;
}

.col-2 {
	width: 47.5%;
	background-color: #fff;
	float: left;
	padding-top: 50px;
	padding-bottom: 75px;
}

.footer {
	clear: both;
	width: 100%;
}

.footer form {
	float: right;
}

h2 {
	color: #464D66;
	padding-left: 50px;
}

input {
	padding: 5px 0;
	margin: 5px 0;
	border-radius: 5px;
	border: 1px solid grey;
}

.form-1 {
	padding-top: 21px;
	margin-left: 10%;
	margin-right: 10%;
}

.form-2 {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.full {
	width: 97.2%;
}

.full-2 {
	width: 97.5%;
}

.col1 {
	width: 45%;
	margin-right: 7%;
	float: left;
}

.col2 {
	width: 45%;
	float: left;
}

.submit {
	color: #CFE1EC;
	background-color: #2D3242;
	padding: 10px 10px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 25px;
}
